/*type selector */


<style>

h1 {color: orange;}
h2 {color: green;}

li { font -size: 24px;}

/*Class selectors*/

.contact {

	color:blue;
	font-size: 80%;
}

.role {font-style: italic;}

/*  ID Selectors  */


.name { font-style: italic; 
	color: aquamarine;}
/* Universal selector */

*{ background-color:yellow;}

*{background-color:brown;}

/*Descendant selector*/
ul a {font-size:18px;}

nav > ul {

	background-color: yellow;
}

/* Child selector*/

nav > ul

	background-color: green;

/* Adjacent sibling selector*/

h3 + p { background-color: yellow;}



nav { 



}

/* Pseudo-class selector*/
a:link {

	color:blue;

a:visited: {

	color:lightgreen;

}

p+p {
	padding: 6px:;
	border: 5px spñod red;
	margin:30px 10px 2px 15px;

}



a:focus {

color:blueviolet}

a:hover {

	color:darkorgane;
}

a:active {

color: black;

}



</style>








